<h2>Contact Us</h2>

<form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
  <div class="form-content">
    <label>
      Name:
      <input type="text" formControlName="name" class="sd-form-control" placeholder="Enter your name.">
    </label>
    <label>
      Email:
      <input type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">
    </label>
    <label>
      Content:
      <textarea formControlName="content" class="sd-form-control" placeholder="Content here."></textarea>
    </label>
    <div class="form-submit">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>

<div class="form-value">
  Phone: xxx-xxx-xxxx
  <pre>
    Fax: xxx-xxx-xxxx
  </pre>
  <p>
    Email: bfmotorsports@yahoo.com
  </p>
  <p>
    Address: xxxx SomeStreet Dr.
  </p>
  <p>
    Blackfoot, Idaho 83409
  </p>
  <p>
    Hours: Monday-Sunday 10am-5pm
  </p>
</div>

